* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, #28a745, #0366d6); /* Degradê de verde para azul */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-top: 10px; /* Espaço acima do número de aluno */
    margin-bottom: 10px; /* Espaço abaixo do número de aluno */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

main h2 {
    font-size: 1.8rem;
    margin-top: 20px; /* Aumenta a distância acima do nome */
    margin-bottom: 10px;
}

main .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

main section {
    width: 48%;
    padding: 20px;
    text-align: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 20px;
}

main h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    /* Adiciona uma borda arredondada */
    border-radius: 5px;
    /* centrar a imagem */
    margin: 0 auto;
}

main a {
    text-decoration: none;
    color: #0366d6;
    font-size: 1.1rem;
    margin-top: 10px; /* Espaço acima do link */
    display: inline-block; /* Para que a margem superior funcione */
}

main a:hover {
    text-decoration: underline;
}

footer {
    background-color: white; /* Fundo branco */
    color: #0366d6;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

footer p {
    margin: 0;
    font-size: 1rem;
}